#profile_img
{
    width: 20%;
    height: auto;
    margin: 20px;
}

#image_caption
{
    font-family: sans-serif;
    color: darkgray;
}

table
{
    border-collapse: collapse;
    background-color: lightgray;
}

table, td
{
    border: 1px solid black;
}

td:hover
{
    background-color: gray
}

a
{
    font-family: sans-serif;
    color: white;
}

h1
{
    font-family:sans-serif;
    font-weight:bold;
    color: gray;
}

h2
{
    font-family: sans-serif;
    font-weight:bold;
    color: darkgray;
}

.friends
{
    color: darkgray;
}
